---
title: Simple News Page - About
layout: base.njk
---

<div class="container">
  <h1 class="title">This page is really for you!</h1>
  <p>It was made for you using HTML, CSS and JavaScript. And served as a JAMStack site.</p>
</div>