---
title: Simple News Page
layout: base.njk
---

<div class="container">
  <h1 class="title">This is a page for you</h1>
  <div class="vibe">You are great!</div>
  <div class="love">
    ❤️
  </div>
  <ul>
    {% for article in news.articles %}
    <li>
      <h4>
        <a href="{{article.url}}" target="_blank">
          {{article.title}}
        </a>
      </h4>
      <span style="font-weight: 600;">
        {{ article.source.name }} - <time>{{ article.publishedAt }}</time>
      </span>
    </li>
    {% endfor %}
  </ul>
</div>
<script src="/js/vibe.js"></script>
